nav.navbar.navbar-default.navbar-fixed-top.topnav.navbar-inverse(role='navigation')
    .container.topnav
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.topnav(href='/') Passport.js Local
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li.active
                    a(href='/') Home
                li
                    a(href='#framework') Framework
                li
                    a(href='#Middlewear') Middlewear
                li
                    a(href='#contact') Contact
                li
                    a(href='/login') Login
                li
                    a(href='/signup') Signup                
            // /.navbar-collapse
        // /.container
            