extends layout

block content
    include ./partials/profilenav.pug  
    include ./partials/jumbotron.pug
    include ./partials/flashMessages.pug
    .container
        .row
            .col-md-12
            